*~
~*
*.asv
*.tmp
*.mat
*.db
*.pdf
*.pptx
*#
__pycache__/
graphs/
checkpoints/
summaries/
logs/
search_results/
tf_models/
best_models/
MidPresentation/
.idea/
Papers/
*.keras
train.obj
test.obj
validation.obj
*.pyc
*.h5
*hdf5*
